* {
    margin: 0;
}

html {
    font-size: 62.5%;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: grid;
    width: 1000px;
    grid-template-columns: 1fr 1fr;
}

section div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
}

h1 {
    font-size: 8rem;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 1.8rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

button {
    height: 60px;
    width: max-content;
    padding: 0 20px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    background-color: chocolate;
    border: 0;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

image {
    width: 100%;
    height: 100%;
    justify-self: center;
}